html {
    font-size: 16px;
}

body {
    background-color: ivory;
    color: black;
    width: 90%;
    margin: 0 auto;
}

.header {
    font-family: "Lucida Console", Courier, monospace;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: indianred;
    border-radius: 10%;
    padding: 2px;
    border: solid 4px black;
    /* border-style: hidden; */
    transition: all 200ms ease;
}

h1,h2,h3 {
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
}

table {
    font-family: Roboto, sans-serif;
    border:solid;
    width: 100%;
    background-color: bisque;
    text-align: center;
    border-radius: 10px;
    /* opacity: 0; */
    /* transition: transform 450ms linear 0.3s; */
    transition: box-shadow 200ms ease, transform 200ms ease;
    /* transition: opacity 0.3s ease-in-out; */
}

td, th {
    border: 1px solid ivory;
    text-align: left;
    padding: 8px;
    border-radius: 1px;
}

tr:nth-child(even) {
    background-color: ivory;
  }

th {
    background-color: ivory;
}

.monospace {
    font-family: "Lucida Console", Courier, monospace;
}

.roboto {
    font-family: Roboto;
}

.spacemono{
    font-family: "Space Mono";
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color:indianred;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
  }

table:hover {
    transform: scale(1.1);
    box-shadow: -3px 3px black;
    /* opacity: 1; */
}

table:focus {
    font-family: "Space Mono";
    background-color:transparent;
    font-size: 25px;
    transform: translate(25px);
    box-shadow: -10px 10px black;
}

a:hover {
    box-shadow: -4px 2px black;
    font-size: 55px;
}